body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 0 150px;
}

a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
}

.header-content, .logo-and-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.header-content {
    gap: 20px;
}

.header-content div {
    width: 450px;
}

#title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.sec-font {
    font-size: 18px;
    color: #e5e7eb;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.sign-up-button {
    background-color: #3882f6;
    padding: 2px;
}

.information {
    text-align: center;
    background-color: white;
    padding: 20px;
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.info {
    max-width: 200px;
}

img {
    border: 1px solid rgb(9, 106, 145);
}

.information h1 {
    font-size: 36px;
    color: #1F2937;
    margin-bottom: 30px;
    font-weight: 900;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px 220px;
}

.quote-text{
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}

.quote-author {
    font-size: 22px;
    align-self: flex-end;
}

.sign-up{
    padding: 75px 150px;
}

.sign-up-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    padding: 20px;
}

.sign-up-text p {
    margin: 0;
}

#big-p {
    font-size: 20px;
    font-weight: 800;
}

.footer {
    background-color: #1F2937;
    text-align: center;
    padding: 20px;
}
